<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/main.css">
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <a class="t-join" href="https://hssonline.formstack.com/forms/twitterdex" target="_blank" rel="noopener">Join the
        Twitterdex <span class="t-shake">🎉</span></a>

    <div class="t-container">
        <header class="t-header">
            <h1>History of Science Society Twitterdex</h1>
            <p>A Crowd-Sourced Directory of <span id="num" style="font-weight: 900"></span> History of Science
                Twitterstorians</p>

        </header>

        <section class="t-search">
            <div class="t-search-container">
                <input type="text" class="t-search-box" placeholder="Begin typing to search" autofocus>
            </div>
            <button class="t-toggle" id="a-z">Z&nbsp;&ndash;&nbsp;A</button>
        </section>

        <main class="t-main">

            {{#each authors}}
            <article class="t-entry" data-id="{{handle}}">
                    <div class="t-circle-set">
                        <div class="t-circle"></div>
                        <div class="t-circle"></div>
                    </div>
                <header class="t-top">
                    <img class="t-image" src="./img/profile.jpg" alt="">
                    <div class="t-body">
                        <h2 class="t-name">{{name}}</h2>
                        <a class="t-handle" href="{{twitter}}" rel="noopener">{{handle}}</a>
                    </div>
                </header>
                <footer class="t-footer">
                    <button class="t-button t-about">About</button>
                    <button class="t-button t-latest">Recent Tweet</button>
                    <a class="t-button t-follow" href="{{twitter}}" target="_blank" rel="no-opener">Follow</a>
                </footer>

                <div class="t-bio">
                    <p class="t-bio-name">{{name}}</p>
                    <p>{{bio}}</p>
                    <button class="t-bio-close">X</button>
                </div>
            </article>
            {{/each}}

        </main>
    </div>
    <script src="./main.js" async defer></script>

</body>

</html>