<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
  <!--<![endif]-->
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-5101015-2"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "UA-5101015-2");
    </script>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>
      HSS Twitterdex
    </title>
    <meta
      name="description"
      content="A Crowd-Sourced Directory of
      {{total}} History of Science Twitterstorians"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- inject:css -->
    <!-- endinject -->
    <link rel="preconnect" href="https://pbs.twimg.com" />
    {{! Social Meta Tags }}

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:image"
      content="https://digital.hssonline.org/wp-content/uploads/2019/08/Twitterdex-Meta-Tag-Image-2019-08.jpg"
    />
    <meta name="twitter:site" content="@hssonline" />
    <meta name="twitter:title" content="HSS Twitterdex" />
    <meta
      name="twitter:description"
      content="A Crowd-Sourced Directory of
      {{total}} History of Science Twitterstorians"
    />
    <meta name="twitter:creator" content="@hssonline" />

    <!-- Open Graph data -->
    <meta property="og:title" content="HSS Twitterdex" />
    <meta property="og:type" content="article" />
    <meta
      property="og:url"
      content="https://digital.hssonline.org/twitterdex/"
    />
    <meta
      property="og:image"
      content="https://digital.hssonline.org/wp-content/uploads/2019/08/Twitterdex-Meta-Tag-Image-2019-08.jpg"
    />
    <meta
      property="og:description"
      content="A Crowd-Sourced Directory of
      {{total}} History of Science Twitterstorians"
    />
    <meta property="og:site_name" content="History of Science Society" />
    <meta property="fb:admins" content="77247831395" />
    {{! Favicon }}
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/twitterdex/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/twitterdex/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/twitterdex/favicon-16x16.png"
    />
    <link rel="manifest" href="/twitterdex/site.webmanifest" />
  </head>

  <body>
    <!--[if lt IE 11]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
    <nav class="t-nav">
      <a href="https://digital.hssonline.org" class="t-link t-join">
        👈&nbsp;digital.hssonline
      </a>
      <a
        class="t-join"
        href="https://hssonline.formstack.com/forms/twitterdex"
        target="_blank"
        rel="noopener"
      >
        Join the Twitterdex&nbsp;🎉
      </a>
    </nav>
    <main class="t-bg">
      <header class="t-header">
        <h1>
          History of Science Society Twitterdex
        </h1>
        <p>
          A Crowd-Sourced Directory of
          <span id="num" style="font-weight: 900;">
            {{total}}
          </span>
          History
            of Science Twitterstorians
        </p>
      </header>
      <div class="search" role="search">
        <header>
        <label for="search">Search</label>
        <p id="results">{{total}} Results</p>
        </header>
        <input id="search" type="text" placeholder="Type to search..."/>
      </div>
      <ul class="t-main">
        {{#each authors}}
          <li id="{{handleRaw}}" class="t-entry" data-name="{{name}}" data-bio="{{bio}}" data-tweet="{{htmlEmbed}}" data-affiliation="{{affiliation}}" data-img="{{profile}}">
            <button
              aria-label="Twitter page of {{name}}"
              class="t-image-link"
              {{!-- href="{{twitter}}" --}}
            >
              <img class="t-image" src="{{profile}}" width="3em" height="3em" loading="lazy" alt="" />
              <h2 class="t-name">
                {{name}}
              </h2>
              <svg class="t" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"/></svg>
              <p>
                {{handle}}
              </p>
            </button>
          </li>
        {{/each}}
      </ul>
    </main>
    <!-- inject:js -->
    <!-- endinject -->
  </body>
</html>